.footer {
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

.footer-source {
  margin-bottom: 0.5rem;
}

.footer-source ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-source li {
  line-height: 1.4;
}
