html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header-wrap {
  
  height: 5rem;
  margin: 0 3rem;
  display: flex;          
  align-items: center;    
}


.header-nav{
  display: flex;
  width: 100%;          
}

.header-nav li{
  border: 1px solid black;
  height: 3rem;
  width: 9rem;
  display: flex;
  align-items: center;     
  justify-content: center; 
  list-style: none;
}
.header-nav li:nth-child(1){
  /* background-color: tomato; */
}
.header-nav li:nth-child(2){
  /* background-color: aqua; */  
    margin-left: auto;

}
.header-nav li:nth-child(3){
  /* background-color: green; */
  margin-left: 1rem;
}
.header-nav a{
  text-decoration: none;
  color: black;
}