.bgimg{
  width:100%;
  height: 90vh;
  display:flex;
  justify-content:center;
  align-items:center; 
  background-image: url("/public/img/seseki.webp");
  background-size:cover;
  background-position:bottom;
  background-repeat: no-repeat;
}
.bgtext{
  text-align: center;
  color: #fff;
  font-size: 3rem;
}

.intro-section {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  align-items: flex-start;
}

.introduction {
  width: 75%;
}

.introduction h1 {
  text-align: center;
  margin: 4px;
}

.introduction h3{
  margin: 0 3%;
}

.introduction p{
  margin: 0 3%;
  font-size: 1.2rem;
}

.introduction ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 3%;
}

.introduction li {
  margin-bottom: 0.5rem;
}
.line{
  text-decoration: underline solid red;
}

.img-wrap {
  display: flex;
  gap: 20%;
  justify-content: center;
  margin: 0 3%;
  
}
.img-wrap img{
  width:40%;
  height: 40%;
}



.score {
  border: 3px solid black;
  border-radius: 10%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  height: 22rem;
  width: 17rem;
  margin: 0 auto;
  position: sticky;
  top: 1rem;
}

.score p{
  margin-top: 30rem;
  font-size: 1.3rem;
}
.score a{
  border: 1px solid black;
  text-decoration: none;
  color: black;
}
.introduction h3{
  background-color:rgb(230, 230, 230);
}