.now-status {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
  border:1px solid tomatos;
}

.now-column {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  min-width: 0;
}

.now-column h3 {
  text-align: center;
  margin-bottom: 10px;
}
